.chat-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
    background: #f7f9fe;
    border-radius: 12px;
    border: 1px solid #dfdddd;
    position: relative;
    overflow: hidden;
}

.chats {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

.chat-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 98%;
    padding: 10px;
    margin: 10px;
}

.chat-msg {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #ffffff;
    width: auto;
    padding: 10px;
    margin-inline-start: 10px;
    border-radius: 10px;
}

.chat-row-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 98%;
    padding: 10px;
    margin: 10px;
}

.chat-msg-me {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #323131;
    width: auto;
    padding: 10px;
    margin-inline-end: 10px;
    border-radius: 10px;
    color: #ffffff;
}

